@import 'fonts.scss';
@import 'normal.scss';
@import 'constants.scss';

#root, body, html {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;

	overflow: hidden;
}

#root {
	color: $primary-white;
	background: url('../../assets/background.png') center / cover no-repeat #1a1a1a50;;
}

#root>section {
	flex: 1;
	overflow: hidden;
}

.dialog {
	display: none;
	opacity: 0;
	justify-content: center;

	position: absolute;
	z-index: 2;

	height: 100%;
	width: 100%;

	background: rgba(87, 87, 87, 0.85);

	transition: all 2s ease;

	&.open {
		display: flex;
		opacity: 1;
	}
	// cursor: pointer;

	// &__background {
	// 	height: 100%;
	// 	width: 100%;

	// 	background: #e5e5e58e;
	// 	position: absolute;
	// 	z-index: 3;
	// }

	&__content {
		// padding: 3em 1.5em 0;

		// min-height: 40%;
		max-height: 60%;
		max-width: 60%;

		background: #2a2a2a;

		
		align-self: center;

		border-radius: 0 0.5em;
    overflow: hidden;
	}
}