@import 'constants.scss';

.content {
	display: flex;
	height: 100%;
	margin-top: 7em;

	&::before {
		content: "scroll";
    position: absolute;
		top: 32em;
    left: 4.5em;
    transform: rotate(271deg);
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		color: $primary-color;
	}
	
	&__main {
		display: flex;
		flex-direction: column;
		flex: 3;
	
		height: 70%;
		padding-right: 4em;
		margin-left: 10em;
		overflow-y: scroll;
		transform: scaleX(-1);
		// transition: all 1s ease;
		scroll-behavior: smooth;

		&::-webkit-scrollbar-track {
			background: #767676;
		}
		&::-webkit-scrollbar-thumb {
			background: $primary-color;
			height: 1em;
		}

		&::-webkit-scrollbar {
			width: 0.2em;
			border-radius: 0.5em;
		}

		.content__title {
			color: $primary-color;
			transform: scaleX(-1);

			h1 {
				font-size: 350%;
				margin-top: 0;
				font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			}
		}

		.content__text {
			margin-left: 15%;
			font-size: 150%;
			transform: scaleX(-1);
			font-family: Lobster;
		}
	}

	&__navigation {
		display: flex;
		flex-direction: column;
		flex: 2;

		height: 70%;

		&.navigation {
			// margin: 10% 3em auto 12em;
			// margin-right: 2em;
			margin: 8em 4em 0;
		}
		.navigation__item {
			display: flex;
			position: relative;

			// flex: 1;

			align-items: center;
			margin-bottom: 2em;
			text-decoration: none;
			color: $primary-white;

			cursor: pointer;
			transition: color, 1s ease;
		}
		.navigation__item-current {
			color: $primary-color;
			padding-bottom: 0.75em;
			margin-bottom: 1em + 0.375em;

			&::after {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 0.1em;
				border-radius: 1em;
				bottom: 0;
				background: $primary-color;
			}
		}
		.navigation__number {
			flex: 1;

			font-weight: 800;
			font-size: 150%;
			
			color: #999999;

			margin-right: 2em;
		}
		.navigation__text {
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			font-size: 150%;
			white-space: nowrap;
		}
	}
	
	&__counter {
		position: absolute;

		font-size: 700%;
		font-family: Tourney;

		left: -0.2em;
		color: #999999;
	}
}
