@import 'constants.scss';

.menu {
	position: sticky;
	// background-color: #536089;
	// border-bottom: 1px solid #dadada;
	
	& menu {
		display: flex;
		padding: 2.5em 3em (2.5em-0.75em*2-0.2em);
		justify-content: space-between;
		text-transform: uppercase;

		& ul {
			position: relative;
			margin-left: 1em;

			font-size: 130%;

			&.menu-active {
				color: $primary-color;
			
				&::after {
					content: '';
					// position: absolute;
					display: block;
					width: 80%;
					height: 0.2em;
					border-radius: 1em;
					margin: 0.75em auto;
					// bottom: -30%;
					background: $primary-color;
				}
			}

			&:first-child {
				margin-left: 0em;
			}

			&:hover {
				color: $secondary-color;
				cursor: pointer;
			}
		}
	}

	&__leave {
		
	}
}